<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class ="content">
    <h1>
      <%= title %>
    </h1>

    <br>
    <br>

    <ul>
      <li><a href="/orders/create">Order</a></li>
      <br>
      <li><a href="/orders">List orders</a></li>
    </ul>
  </div>
</body>

</html>